table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}
th{
    background-color: rgb(218, 74, 102);
}
td{
    background-color: blanchedalmond;
}

div.intro{
    width:100%;
    overflow:auto;
    background-color:#FFC0C7;
}

div.Contact{
    width:100%;
    overflow:auto;
    background-color:#8a3fd0;
}