table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}
th{
    background-color: rgb(218, 74, 102);
}
td{
    background-color: blanchedalmond;
}

div.Education th{
    background-color: rgb(171, 50, 11);
}

div.Education td{
    background-color: rgb(253, 146, 66);
}

h3, p{
    color: white;
}

a{
    color: rgb(87, 17, 94);
}

a:hover {
    color: rgb(237, 24, 70);
  }

div{
    padding-left: 5px;
    border-radius: 10px;
}

div.profile {
    width:100%;
    overflow:auto;
  }

  .profile img{
    /* width:23%; */
    float:left;
    margin-top: 5px;
    margin-bottom: 5px;
  }
  .profile div {
    width:33%;
    float:left;
  }

div.Contact{
    /* margin-top: 5px; */
    width:100%;
    height: 100%;
    /* overflow:auto; */
    background-color:rgb(230, 46, 248)
}

div.intro{
    margin-top: 5px;
    width:100%;
    overflow:auto;
    background-color:rgb(237, 24, 70);
}

div.Experience{
    margin-top: 5px;
    padding-bottom: 5px;
    padding-right: 5px;
    width:100%;
    overflow:auto;
    background-color:rgb(61, 145, 219);
}

div.Education{
    margin-top: 5px;
    padding-right: 5px;
    width:100%;
    Height: 150px;
    overflow:auto;
    background-color:rgb(254, 139, 128);
}

div.Hobbies{
    margin-top: 5px;
    width:100%;
    Height: 100%;
    overflow:auto;
    background-color:rgb(0, 192, 129);
}

* .carousel{
    /* box-sizing: none; */
    border-radius: 0px;
}

* .carousel-inner{
    width:100%;
    /* max-height: 1000px !important; */
  } 

